
body{
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
}

h1, h2{
    color: rgba(0, 128, 0, 0.75);
}

h1{
    font-size: 40px;
}

h2{
    font-size: 30px;
}

p{
    font-size: 18px;
    text-align: justify;
}

.main-text{
    text-align: right
}

.random-text{
    text-align: center
}

#author-id{
    font-size: 22px;
}


